/* ------GENERAL------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* PRIMARY */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* NEUTRAL*/
  --dark-greyish-magenta: hsl(303, 10%, 53%);
  --light-greyish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

img {
  border-radius: 50%;
}

body {
  font-size: 16px;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-top: 5vh;
  width: 90%;
  background-image: url("/images/bg-pattern-top-desktop.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 40%, 25%;
}

.container,
.top-split,
.intro {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  gap: 1.5em;
}

.title {
  color: var(--very-dark-magenta);

  font-size: 2.5rem;

  width: 100%;
  margin-top: 1em;
}

.text {
  color: var(--dark-greyish-magenta);
  line-height: 1.5;
  width: 100%;
}

.star-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
}

.stars {
  background-color: var(--light-greyish-magenta);
  padding: 1em 0;
  font-weight: 700;
  color: var(--very-dark-magenta);
  width: 100%;
  border-radius: 8px;
  max-width: 30em;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

.stars p::before {
  content: "";
  width: 6rem;
  height: 1rem;
  margin: 0 auto;
  display: block;
  background-image: url("/images/icon-star.svg");
  margin-bottom: 0.5rem;
  background-repeat: space;
  margin-bottom: 0.8em;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-magenta);
  border-radius: 8px;
  padding: 1.7em;
  max-width: 30em;
  margin: 0 auto;
}

.buyer {
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
}

img {
  width: 3em;
  height: 3em;
}

.name {
  padding-left: 1em;
  color: var(--white);
}

.name h2 {
  font-size: 1rem;
}

.name p {
  color: var(--soft-pink);
  padding-top: 0.5em;
  font-size: 0.8rem;
}

blockquote {
  color: var(--white);
  text-align: left;
  line-height: 1.6;
  padding-top: 0.5em;
}

/* HELPER CLASSES  */

.sm-gap {
  margin-bottom: 1em;
}

.lg-gap {
  margin-bottom: 1.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
